# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/

# UV
uv.lock

# Ruff
.ruff_cache/

# IDE
.idea/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/